#page__pusher h4 {
  color: var(--ocf-light);
  line-height: 1;
  padding: 0 1rem;
  margin: 0;
  border-top: 1px solid var(--ocf-light);
}

#page__pusher ul {
  padding: 0;
  list-style: none;
}

#page__pusher ul li a,
#page__pusher ul li a:link {
  line-height: 1;
  display: block;
  padding: 0.5rem 1rem;
  color: var(--ocf-light);
  transition: all var(--page-transition_duration) ease;
}

#page__pusher ul li a:hover {
  color: var(--ocf-primary);
}

#page__pusher ul li a:active {
  color: var(--ocf-white);
}


/* Submenu indentation */
#page__pusher ul li ul {
  padding: 0;
  list-style: none;
}

#page__pusher ul li ul li a,
#page__pusher ul li ul li a:link {
  padding-left: 2rem;
  font-size: 0.95em;
  color: var(--ocf-light);
}
