#content img {
  max-width: 100%;
  height: auto;
}

#keyvisual_inner {
  backdrop-filter: opacity(0);
  overflow: hidden;
}

#keyvisual_inner .container.upper,
#keyvisual_inner .container.lower {
  height: clamp(4rem, 8vw, 7rem);
  overflow: hidden;
}

#keyvisual_inner .container img.decorator {
  height: 100%;
  object-fit: cover;
}

#keyvisual_inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: -1;
}

#table-of-contents .item.header {
  color: var(--ocf-primary); 
  /* font-size: 1.25rem; */
}
