#about .stripe.ui.container {
  max-width: 920px !important;
}

#about #content {
  max-width: 760px;
  margin: 0 auto;
}

#about #content p {
  font-size: 1.2rem;
  line-height: 2.1;
  margin-bottom: 1.8rem;
}

#keyvisual_inner #title_block h1 {
  max-width: 980px;
  margin-right: 12%;
  line-height: 1.35;
}

#keyvisual_inner #subtitle_block {
  max-width: 720px;
}

#keyvisual_inner #subtitle_block p {
  line-height: 1.5;
}

@media screen and (width < 1024px) {
  #about .stripe.ui.container {
    max-width: 100% !important;
  }

  #about #content {
    max-width: 100%;
  }

  #about #content p {
    font-size: 1.05rem;
    line-height: 1.9;
  }

  #keyvisual_inner #title_block h1 {
    margin-right: 10%;
  }
}
