---
layout: global
---

<main id="about">
  {% assign kv_image = page.og_image | default: "/assets/images/about_KV.png" %}
  {% include _shared/kv.html title=page.og_title description=page.og_description image=kv_image %}

  {% comment %} 處理 h2 標籤的 id 和 title {% endcomment %}
  {% assign h2_parts = content | split: '<h2' %}
  {% assign toc_ids = '' | split: '' %}
  {% assign toc_titles = '' | split: '' %}
  {% for part in h2_parts %}
    {% if part != h2_parts.first %}
      {% assign h2_tag = part | split: '</h2>' | first %}
      {% if h2_tag contains 'id="' %}
        {% assign h2_id_part = h2_tag | split: 'id="' | last %}
        {% assign h2_id = h2_id_part | split: '"' | first %}
        {% assign h2_title = h2_tag | split: '>' | last %}
        {% assign toc_ids = toc_ids | push: h2_id %}
        {% assign toc_titles = toc_titles | push: h2_title %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <hr class="ui hidden divider" />
<!--
  <div class="stripe ui container">
    <div class="ui two column stackable grid">

      <div class="four wide column">
        <nav class="ui secondary vertical fluid text menu" id="table-of-contents">
          <div class="header item">目次</div>
          {% for toc_id in toc_ids %}
            {% assign index = forloop.index0 %}
            <a href="#{{ toc_id }}" class="item">{{ toc_titles[index] }}</a>
          {% endfor %}
        </nav>
      </div>
-->

      <div class="twelve wide column" id="content">
        {% assign content_without_h1 = content | replace: '<h1', '<!-- <h1' | replace: '</h1>', '</h1> -->' %}
        {{ content_without_h1 }}
      </div>

    </div>
  </div>
</main>