---
layout: global
---

<main id="about">
  <hr class="ui hidden divider" />

  <div class="ui stripe container">
    <div class="ui two column stackable grid">
      <div id="toc" data-context="desktop" class="six wide column">
        <nav class="ui secondary sticky vertical pointing fluid menu">
          {% for article in page.toc %}
          <a href="#{{ article[0] }}" class="item" style="color: var(--ocf-primary); font-size: 1.75rem;">{{ article[1] }}</a>
          {% endfor %}
        </nav>
      </div>

      <div class="ten wide column">
        {{ content }}
      </div>
    </div>
  </div>
</main>